<% var fDP = "default.png"; %>

<% for(var i = 0; i < loginData.length; i++){ %>
                <% if(loginData[i].user == user){ %>
                    <% fDP = loginData[i].dp %>
                <% } %>
        <%    } %>

<div class="userPost">
    <div><img class="userPhoto" src="./imgs/<%=fDP%>"></img></div>
        <span class="info">
            <span class="title">
                <form action = "post" method="get">
                    <input name="title" type="submit" value="<%=title%>"/>
                </form>
            </span>
            <span class="description">
                    <%=desc%>
            </span>
            <span class="comment"><%=likes%></span>
            <span class="downvote"></span>
            <span class="upvote"></span> 
        </span>
    <div class="author">
        <form action="profile" method="get">

            <input name="user" type="submit" value="<%=user%>"></input>

        </form>        
    </div>
</div>