<html>

    <head>
        <title>AlexRotorReyes' Profile</title>
        <link rel="stylesheet" href="./common/userprofile.css" />
    </head>

    <body class="background"> 
        <% include ./header.ejs %>
        
            <div class="displayUserwFlex">
                <div class="displayUser">
                    <div>
                        <img class="dp" src="./imgs/<%= data.dp %>">
                        <div class="usernameProfile">
                            <%= data.user %>
                        </div>
                    </div>
                </div>
                <div class="userDescription">
                    <%= data.desc %>
                </div>
                <div class="userFeed">
                    
                    <!--This is for posts-->
                    <% for(var i=0;i<postData.length;i++){ %>
                        <% if(postData[i].user == data.user){%>
                            <%- include('./profilePosts', {
                                title: postData[i].title,
                                desc: postData[i].desc,
                                likes: postData[i].likes
                            }); %>
                        <% } %>
                    <% } %>
                    
<!--
                    <div class="userPost">
                        <div class="postTitle">
                            <a class="profileText" href="post5.html">I Own The World's Largest Dog!</a>
                        </div>
                        <div class="postDesc">
                            My dog is a beast. He weighs almost 200 pounds and reaches my shoulder when sitting.
                        </div>
                        <div class="commentsPart">
                            <img class="dpComments" src="comment.png"> 5 Comments 
                        </div>
                        <div class="editPart">
                            <img class="dpComments" src="edit.png"> Edit
                        </div>
                        <div class="deletePart">
                            <img class="dpComments" src="waste.png"> Delete
                        </div>
                        <div class="votePart">
                            <div>
                                <img class="smallUp" src="upvote.png">
                            </div>
                            <div>
                                <img class="smallDown" src="downvote.png">
                            </div>
                            <div class="voteNumbers">
                                7
                            </div>
                        </div>
                        <div class="dateTime">
                            July 4, 2018 2:14PM
                        </div>
                    </div>
-->
                    <!--This is for comments-->
                    <% for(var i=0;i<commentData.length;i++){ %>
                        <% if(commentData[i].user == data.user){%>
                            <%- include('./profileComments', {
                                user: commentData[i].user,
                                content: commentData[i].content,
                                parentPost: commentData[i].parentPost
                            }); %>
                        <% } %>
                    <% } %>
<!--
                    <div class="userPost">
                        <div class="usernameCommented">
                            <a class="profileText" href="post3.html">AlexRotorReyes commented on PaoloDelosReyes' post.</a>
                        </div>
                        <div class="actualComment">
                            "OMG!!! WHAT IS WRONG WITH YOU"
                        </div>
                        <div class="commentDate">
                            June 14, 2018 3:08PM
                        </div>
                        <div class="editComment">
                            <img class="dpComments" src="edit.png"> Edit
                        </div>
                        <div class="deleteComment">
                            <img class="dpComments" src="waste.png"> Delete
                        </div>
                        <div class="votePart">
                            <div>
                                <img class="smallUp" src="upvote.png">
                            </div>
                            <div>
                                <img class="smallDown" src="downvote.png">
                            </div>
                            <div class="voteNumbers">
                                4
                            </div>
                        </div>
                    </div>
-->
<!--
                    <div class="userPost">
                        <div class="postTitle">
                            Can Dogs Eat Chocolates?!
                        </div>
                        <div class="postDesc">
                           My dog accidentally ate my chocolate bar while I wasn't looking... HELP!!!
                        </div>
                        <div class="commentsPart">
                            <img class="dpComments" src="comment.png"> 1 Comments
                        </div>
                        <div class="editPart">
                            <img class="dpComments" src="edit.png"> Edit
                        </div>
                        <div class="deletePart">
                            <img class="dpComments" src="waste.png"> Delete
                        </div>
                        <div class="votePart">
                            <div>
                                <img class="smallUp" src="upvote.png">
                            </div>
                            <div>
                                <img class="smallDown" src="downvote.png">
                            </div>
                            <div class="voteNumbers">
                                706
                            </div>
                        </div>
                        <div class="dateTime">
                            Jan 1, 2018 11:25AM
                        </div>
                    </div>
-->
                    <div class="seeMore">
                        See More
                    </div>
                </div>
            </div>
        
    </body>

</html>